name: Lab09 C++ - Run Tests

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:latest-cpp
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Run ctest
        run: |
          cmake -S codes/lab09/cpp -B build
          cmake --build build
          ctest --test-dir build --output-on-failure
