name: Lab09 LaTeX - Compile Document

on:
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}:latest-latex
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - name: Compile PDF
        run: |
          latexmk -pdf -interaction=nonstopmode codes/lab09/latex/main.tex
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: lab09-latex-pdf
          path: ./main.pdf
